selenium==3.141.0
python-telegram-bot==19.0
sudo apt-get update
sudo apt-get install -y chromium-browser
sudo apt-get install -y unzip
wget https://edgedl.me.gvt1.com/edgedl/chrome/chrome-for-testing/119.0.6045.105/linux64/chromedriver-linux64.zip
unzip chromedriver-linux64.zip
sudo mv chromedriver /usr/local/bin/
rm chromedriver-linux64.zip
